<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--为移动设备添加 viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import CSS -->
    <link rel="stylesheet" href="module/element/css/index.css">

    <!-- 引入样式 -->
    <!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->

    <style>
        .el-select .el-input {
            width: 100px;
        }

        img {
            height: 60px;
        }

        .el-container {
            /*max-width: 80%;*/
            margin: 140px auto;
        }

        .el-row {
            margin-top: 60px;

        }

    </style>
</head>
<body>
<div id="index">


    <div id="copy" style="display: none;">
        <el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
            <div>
                <a><img/></a>
                <p></p>
            </div>
        </el-col>
    </div>

    <el-container>
        <el-main>
            <el-input @keyup.enter="submit" placeholder="请输入查询关键字" v-model="input" class="input-with-select">
                <el-select v-model="select" slot="prepend" placeholder="请选择">
                    <el-option v-for="option in options" :label="option.label" :key="option.value"
                               :value="option.value">
                    </el-option>
                </el-select>
                <el-button @click="submit" slot="append" icon="el-icon-search"></el-button>
            </el-input>

            <el-row :gutter="20">

            </el-row>

        </el-main>
    </el-container>

</div>
</body>
<!-- import Vue before Element -->
<script src="module/element/vue.js"></script>
<!-- import JavaScript -->
<script src="module/element/index.js"></script>
<script src="js/util.js"></script>
<script>
    var search = new Vue({
        el: '#index',
        data: {
            input: '',
            select: 'https://www.baidu.com/s?wd=',
            options: [
                {
                    label: '百度',
                    value: 'https://www.baidu.com/s?wd='
                },
                {
                    label: 'Google',
                    value: 'https://www.google.com/search?q='
                },
                {
                    label: '必应',
                    value: 'http://www.bing.com/search?q='
                }
            ]
        },
        methods: {
            submit: function () {
                var searchEngine = this.select;
                var searchInput = this.input;
                alert(searchEngine + searchInput);
            }
        }
    });

    document.onkeydown = function (e) {
        if (e.keyCode == 13) {
            search.submit();
        }
    }

    getIndex();

    function setIndexInfo(result) {
        $.each(result, function (i, v) {
            $('#copy a').attr('href', v.menuUrl);
            $('#copy img').attr('src', v.menuImgUrl);
            $('#copy p:eq(1)').html(v.menuName);
            $('.el-row').append($('#copy').html());
        });
    }

    function getIndex() {
        var userInfo = {
            id: 2
        }
        var param = {
            userid: userInfo.id
        };

        var key = 'index_' + userInfo.id;
        var result;
        if (localStorage && localStorage.getItem(key)) {
            result = JSON.parse(localStorage.getItem(key));
            setIndexInfo(result);
        } else {
            Util.postJson("./common-server/user/api/v1/index", param, function (response) {
                if (response.code != 0) {
                    alert(response.message);
                    return;
                }
                result = response.result;
                setIndexInfo(result);
                if (localStorage) {
                    localStorage.setItem(key, JSON.stringify(result));
                }
            });
        }
    }
</script>
</html>